<div class="page-container">
  <h1 id="header">
    <%= link_to root_url do %>
      <%= image_tag "logo.png", class: 'logo' %>
    <% end %>
  </h1>
  <div id="main-background">
    <h2 class="slogan">
      Turn your Spotify playlist into <span class="powerhour">a Power Hour Mix</span>
    </h2>
    <%= render 'howto' %>
  </div>
</div>
