<div class="page-container">
  <h1 id="header">
    <%= image_tag "logo.png", class: 'logo' %>
  </h1>
  <div id="main-background">
    <h2 class="slogan">
      Turn your Spotify playlist into a Power Hour Mix
    </h2>
  </div>
</div>
