<div class="page-container">
  <h1 id="header">
    <%= image_tag "logo.png", class: 'logo' %>
  </h1>
  <div id="main-background">
    <h2 class="slogan">
      Turn your Spotify playlist into <span class="powerhour">a Power Hour Mix</span>
    </h2>
    <ul class="features">
      <li>Load a playlist</li>
      <li>New song every minute</li>
      <li>One drink per minute!</li>
      <li>For ONE WHOLE HOUR!</li>
    </ul>
    <div class="open-spotify">
      <%= link_to "Open in Spotify", '#', class: 'btn btn-success btn-large', onclick: "alert('Coming Soon!!! ;-)'); return false" %>
    </div>
  </div>
</div>
