body {
  font-family: 'Open Sans', sans-serif;
}

h1#header {
  background-color: white;
  padding: 0;
  margin: 0;
  text-align: center;
}
.page-container {
  position: absolute;
  height: 78%;
  width: 100%;
}
#main-background {
  box-shadow: -10px 0 20px 0 rgba(0,0,0,0.05), inset 0 0 30px 30px rgba(0,0,0,0.35);
  background: image-url('beershots.jpg');
  background-size: 100%;
  height: 100%;
  width: 100%;
  min-height: 100%;
  position: relative;
  padding-top: 50px;
}

img.logo {
  height: 50px;
}
h2.slogan {
  font-weight: bold;
  font-family: "Rock Salt", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 28pt;
  text-align: center;
  color: #eee;
  text-shadow: 0 0 12px rgba(0,0,0,1);
  span.powerhour {
    line-height: 58pt;
    display: block;
    font-size: 35pt;
  }
}
ul.features {
  color: #eee;
  background-color: rgba(0,0,0,0.5);
  padding: 1em;
  padding-left: 4em;
  border-radius: 18px;

  text-shadow: 0 0 8px rgba(0,0,0,1);
  position: absolute;
  top: 210px;
  left: 20%;
  li {
    font-family: "Rock Salt", "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 18pt;
    line-height: 32pt;
  }
}
.open-spotify {
  font-family: "Fontdiner Swanky", "Open Sans", Helvetica, Arial, sans-serif;
  text-align: right;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 640px;
  .btn {
    font-size: 18pt;
    padding: 1em;
  }
}
