body {
  font-family: 'Open Sans', sans-serif;
}

h1#header {
  background-color: white;
  padding: 0;
  margin: 0;
  text-align: center;
}
.page-container {
  position: absolute;
  height: 100%;
  width: 100%;
}
#main-background {
  background: image-url('beershots.jpg');
  background-size: 100%;
  height: 100%;
  width: 100%;
  min-height: 100%;
  position: relative;
  padding-top: 20px;
}

img.logo {
  height: 50px;
}
h2.slogan {
  font-size: 36px;
  text-align: center;
  color: #eee;
}
.open-spotify {
  text-align: right;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
